<!DOCTYPE html>
<html>
<head>
  <title>Example</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div style="float:left; width:10%; height:100%;">
  <%= render "layouts/menu" %>
</div>

<div style="float:right: width:90%">
	<%= yield %>
</div>

</body>
</html>
